<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li> <h1>estudio 1</h1> -<h3>(años)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo magni beatae corrupti, error cumque quas ipsum rem eveniet ipsa harum optio odio sint voluptatem iusto impedit eligendi dolor, pariatur possimus!</p>
        </ul>
        <ul>
            <li> <h1>estudio2</h1> -<h3>(años)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo magni beatae corrupti, error cumque quas ipsum rem eveniet ipsa harum optio odio sint voluptatem iusto impedit eligendi dolor, pariatur possimus!</p>
        </ul>
        <ul>
            <li> <h1>estudio 3</h1> -<h3>(años)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo magni beatae corrupti, error cumque quas ipsum rem eveniet ipsa harum optio odio sint voluptatem iusto impedit eligendi dolor, pariatur possimus!</p>
        </ul>
 
    </div>
</div>
